body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #8e5bd9, #a66dd4);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#buttons {
    display: flex;
    gap: 15px;
}

.btn, .stop {
    padding: 12px 20px;
    border: none;
    background-color: #5b2ca0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn:hover,
.stop:hover {
    background-color: #45207c;
}